input, button{
  width: 343px;
  height: 52px;
  border: 2px solid #000;
  border-radius: 15px;
  background-color: #FFF;
}

input {
  padding-left: 1%;
  outline: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.23);
  font-family: Comfortaa;
  font-size: 15px;
  font-weight: 400;
}

.buttons{
  background-color:rgb(0, 0, 0) ;
  color:white;
  font-family: Comfortaa, Helvetica, sans-serif;
  font-weight: 700;
  height: 58px;
  width: 347px;
}

/* Mobile_Login */
#login span{
    color: #000;
    font-family: Comfortaa;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.54px;
}

/* Mobile_Main */
.wallet {
  width: 393px;
  height: 306px;
  border-radius: 0px 0px 10px 10px;
  background: #FFAC4A;
}

.wallet span {
  color: #FFF;
  font-family: Comfortaa;
  font-size: 40px;
  font-weight: 700;
}

.wallet button {
  background-color:rgba(0, 0, 0, 0.20);
  color: #FFF;
  text-align: center;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  border: 0px;
}

/* 결제내역 */
.item { 
  display: flex;
  width: 355px;
  height: 86px;
  border-radius: 20px;
  background: #F4F4F4;
}

.cost_box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
  color: #000;

}


.cost {
  display: block;
  font-family: Comfortaa;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.2px;
}


.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width : 50%;
  height: 100%;
}

.info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  border-left: 2px solid #000;
}

.info .Student_Id {
  color: #000;
  text-align: center;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.96px;
}

.info .date {
  color: #000;
  font-family: Comfortaa;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.48px;
}






/* Mobile_Settings */
#Password_Changes{
  color: #000;
  font-family: Comfortaa;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.45px;
}

#Secure_Purchase span {
  color: #000000;
  font-family: Comfortaa;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
}

#text span{
  color: #000;
  font-family: Comfortaa;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.225px;
}




/* toggle-swtich */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .toggle-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
  }
  
  .toggle-switch input:checked + .slider {
    background-color: #FFAC4A;
  }
  
  .toggle-switch input:checked + .slider:before {
    transform: translateX(26px);
  }
  
/* Dept */
.payment {
  width: 346px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Container{
  width: 370px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #F4F4F4;
  border-radius: 10px;
}

.Container input{
  width: 250px;
  height: 52px;
  padding-left: 2%;
}

.Container span{
  color: #000;
  text-align: center;
  font-family: Comfortaa;
  font-size: 40px;
  font-weight: 500;
}



#wallet_admin {
  height: 113px;
  background-color : #45C1DC;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pay, #refund{
  width: 155px;
  height: 50px;
  background: #F4F4F4;
  color: #000;
  font-size: 30px;
  font-weight: 500;
}